/*--------------------
      SEPARATOR
--------------------*/

:root {
    --mc-separator-width: 40%;
    --mc-separator-height: 5px;
    --mc-separator-color: #140F0F;
}

.mc-separator {
    margin: 0 auto;
    display: flex;
    width: var(--mc-separator-width);
    color: var(--mc-separator-color);
}

.mc-separator .line {
    border-color: var(--mc-separator-color);
    border-width: var(--mc-separator-height);
    border-radius: 3px;
    opacity: 1;
}