/*----------
    DEBUG
 ----------*/

.debug header::after {
    content: 'MOBILE';
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 20px;
    background-color: black;
    color: white;
}

/*--------------------
       COLORS
--------------------*/
.bg-footer-top {
    background-color: var(--mc-bg-top-footer);
}

.bg-footer-bottom {
    background-color: var(--mc-bg-bottom-footer);
}

.bg-pic1 {
    background-color: var(--mc-bg-pic1);
}

.bg-pic2 {
    background-color: var(--mc-bg-pic2);
}

.bg-pic3 {
    background-color: var(--mc-bg-pic3);
}

.bg-pic4 {
    background-color: var(--mc-bg-pic4);
}

.bg-pic5 {
    background-color: var(--mc-bg-pic5);
}

.bg-pic6 {
    background-color: var(--mc-bg-pic6);
}


/*--------------------
       FIXED HEIGHT
--------------------*/
/* HEIGHT */
.h-100px {
    height: 100px;
}

.h-200px {
    height: 200px;
}

.h-300px {
    height: 300px;
}

/* WIDTH */
.w-100px {
    width: 100px;
}

.w-200px {
    width: 200px;
}

.w-300px {
    width: 300px;
}

/*--------------------
       COMMON
--------------------*/

main section:nth-child(odd) {
    background-color: var(--mc-bg-aqua-green);
}

/* --- HEADER --- */
header {
    background-color: var(--mc-bg-header);
}