/*----------
    DEBUG
 ----------*/

.debug header::after {
    content: 'MOBILE';
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 20px;
    background-color: black;
    color: white;
}

/*--------------------
       COMMON
--------------------*/

/* --- HEADER --- */
header {
    background-color: var(--mc-bg-header);
}