/*--- TABLET ---*/
@media screen and (min-width: 992px) {

    /* DEBUG */
    .debug header::after {
        content: 'TABLET';
    }

    h2 {
        font-size: 3rem;
    }

    /* HEADER */
    header .navbar-brand {
        font-size: 1.5rem;
    }

    /* PORTFOLIO */
    #portfolio .content-image {
        height: 300px;
    }

}

/*--- DESKTOP XL ---*/
@media screen and (min-width: 1200px) {

    /* DEBUG */
    .debug header::after {
        content: 'DESKTOP';
    }

    /* PORTFOLIO */
    #portfolio .content-image {
        height: 250px;
    }
}