/*--- DESKTOP ---*/
@media screen and (min-width: 992px) {

    /* DEBUG */
    .debug header::after {
        content: 'TABLET';
    }

    /* PORTFOLIO */
    #portfolio .content-image {
        height: 200px;
    }

}

/*--- DESKTOP XL ---*/
@media screen and (min-width: 1200px) {

    /* DEBUG */
    .debug header::after {
        content: 'DESKTOP';
    }

    /* PORTFOLIO */
    #portfolio .content-image {
        height: 250px;
    }
}